[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
pinecone = "*"
python-dotenv = "*"
openai = "*"
llama-index = "*"
llama-index-vector-stores-pinecone = "*"
streamlit = "*"
llama-index-embeddings-huggingface = "*"

[dev-packages]

[requires]
python_version = "3.14"
